body {

  font-family: "proxima-nova", arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: 0.1875rem;
  color: $textColor;

  p {
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.25rem;
  }

  .nav-item > a:not(.external):hover,
  .nav-links a,
  .nav-links a.router-link-active,
  .page-edit .edit-link a,
  a {
    color: $green;
    //border-color: $green;
    text-decoration: none;
    //border-bottom-width: 0.125rem;
    //border-bottom-style: solid;
    &:visited {
      text-decoration: none;
      //color: $orange;
      //border-color: $orange;
    }
    &:hover {
      color: $orange;
      //border-color: $red;
      text-decoration: none;
    }
    &.header-anchor {
      border-bottom-width: 0;
    }
  }

  .theme-default-content {

    a:hover {
      text-decoration: none !important;
    }

    pre[class*="language-"] code,
    code {
      font-family: "anonymous-pro", monospace;
      background: transparent;
      font-size: 1rem;
      border-radius: 0;
      padding: 0;
      color: $codeColor;
    }

    div[class*="language-"]::before {
      color: transparent;
    }

    code[class*="language-"],
    pre[class*="language-"] {
      color: #ccc;
      background: none;
      font-family: "anonymous-pro", monospace;
      font-size: 1rem;
      text-align: left;
      white-space: pre;
      word-spacing: normal;
      word-break: normal;
      word-wrap: normal;
      line-height: 1.5rem;

      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;

    }

    /* Code blocks */
    pre[class*="language-"] {
      padding: 1rem;
      margin: .5em 0;
      overflow: auto;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
      // background: #2d2d2d;
    }

    /* Inline code */
    :not(pre) > code[class*="language-"] {
      padding: .1rem;
      border-radius: .3rem;
      white-space: normal;
    }

    .token.comment,
    .token.block-comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
      // color: #999;
      color: $codeColor;
      font-style: italic;
    }

    .token.punctuation {
      // color: #ccc;
      color: $codeColor;
    }

    .token.tag,
    .token.attr-name,
    .token.namespace,
    .token.deleted {
      // color: #e2777a;
      color: $codeColor;
    }

    .token.function-name {
      // color: #6196cc;
      color: $codeColor;
    }

    .token.boolean {
      color: #2aa89a;
    }

    .token.number {
      color: rgb(255, 64, 64);
      // color: #f08d49;
    }
    
    .token.function {
      color: $codeColor;
    }

    .token.property,
    .token.class-name,
    .token.constant,
    .token.symbol {
      // color: #f8c555;
      color: rgb(255, 64, 64);
    }

    .token.selector,
    .token.important,
    .token.atrule,
    .token.keyword,
    .token.builtin {
      // color: #cc99cd;
      color: #7a52cc;
    }

    .token.string,
    .token.char,
    .token.attr-value,
    .token.regex,
    .token.variable {
      // color: #7ec699;
      color: rgb(255, 128, 0);
    }

    .token.operator,
    .token.entity,
    .token.url {
      // color: #67cdcc;
      color: $codeColor;
    }

    .token.important,
    .token.bold {
      font-weight: bold;
    }
    .token.italic {
      font-style: italic;
    }

    .token.entity {
      cursor: help;
    }

    .token.inserted {
      // color: green;
      color: $codeColor;
    }

  }

  div[class*="language-"] {
    background: rgba(255,244,95,.2);
    border: none;
    font-weight: bold;
    color: $codeColor;
  }

}

/* Move these into custom Navbar template once/if we do that */
body {

 .navbar {
  padding-top: 0;
  padding-bottom: 0;

    .links {
      top: 0;
      height: 100%

      .search-box {
        padding-top: .7rem;
      }
    }
  }

  .nav-links {
    .nav-item {
      height: 100%;
      line-height: 3.5rem;
    
      a {
      font-size: 1rem;
      color: $textColor;
      height: 100%;
      line-height: 3.5rem;
      border-top: 2px solid $white;
      transition: color .2s, border-color .2s;
      }
      
      a:hover, a.router-link-active {
        border: none;
        border-top: 2px solid $orange;
        color: $orange;
      }
    }
  }
}

.theme-default-content:not(.custom) {
  max-width: 860px;
  
  h1 {
    font-size: 2.25rem;
  }
  h1:first-child + p {
    margin-top: 1rem;    
  }
  h2 {
    display: inline-block;
    font-size: 1.25rem;
    border: none;
    border-top: 2px solid $black;
    padding-top: .625rem;
    margin: 3rem 0 1.25rem 0;
  }
  h4 {
    margin: 0 0 .25rem 0;
    padding: 0rem;
  }
  ul {
    margin: 0;
  }
  li {
    padding-left: .5rem;
  }
}

.custom-block.tip {
  background-color: $purplebg;
  color: $purple;
  border: none;
  margin: 2rem 0;
}
