@use "sass:color";

$black: #333;
$grey: #eee;
$red: rgb(255, 64, 64);
$orange: rgb(255, 128, 0);
$blue: rgb(0, 200, 255);
$green: rgb(0, 191, 168);
$purple: rgb(171, 130, 255);
$yellow: rgb(255, 244, 95);
$code-color: rgb(124, 124, 124);

:root {
  --two-black: #{$black};
  --two-grey: #{$grey};
  --two-red: #{$red};
  --two-orange: #{$orange};
  --two-blue: #{$blue};
  --two-green: #{$green};
  --two-purple: #{$purple};
  --two-yellow: #{$yellow};
  --two-text: #333;
  --two-text-muted: #555;
  --two-code-color: #{$code-color};
  --two-border: #eaecef;
  --two-code-bg: #282c34;
  --two-font-family: "proxima-nova", arial, sans-serif;
  --two-font-family-mono: "anonymous-pro", monospace;

  --c-brand: #{$orange};
  --c-brand-light: #{color.mix(white, $orange, 30%)};
  --c-bg: #fff;
  --c-bg-light: #f6f6f6;
  --c-bg-lighter: #f1f1f1;
  --c-bg-dark: #ebebec;
  --c-bg-darker: #e6e6e6;
  --c-bg-navbar: #fff;
  --c-bg-sidebar: #fff;
  --c-bg-arrow: #ccc;
  --c-text: #333;
  --c-text-accent: #{$green};
  --c-text-light: #3d3d3d;
  --c-text-lighter: #555;
  --c-text-lightest: #666;
  --c-text-quote: #999;
  --c-border: #eaecef;
  --c-border-dark: #ddd;
  --c-tip: #{$purple};
  --c-tip-bg: #{color.mix(white, $purple, 90%)};
  --c-tip-title: #{$purple};
  --c-tip-text: #{$purple};
  --c-tip-text-accent: #{color.mix(white, $purple, 40%)};
  --c-warning: #{$yellow};
  --c-warning-bg: #{color.mix(white, $yellow, 80%)};
  --c-warning-bg-light: #{color.mix(white, $yellow, 70%)};
  --c-warning-bg-lighter: #{color.mix(white, $yellow, 60%)};
  --c-warning-border-dark: #{color.mix(black, $yellow, 20%)};
  --c-warning-details-bg: #{color.mix(white, $yellow, 72%)};
  --c-warning-title: #{color.mix(black, $yellow, 25%)};
  --c-warning-text: #{color.mix(black, $yellow, 50%)};
  --c-warning-text-accent: #{color.mix(black, $yellow, 35%)};
  --c-warning-text-light: #{color.mix(black, $yellow, 20%)};
  --c-warning-text-quote: #{color.mix(black, $yellow, 28%)};
  --c-danger: #{$red};
  --c-danger-bg: #{color.mix(white, $red, 82%)};
  --c-danger-bg-light: #{color.mix(white, $red, 75%)};
  --c-danger-bg-lighter: #{color.mix(white, $red, 70%)};
  --c-danger-border-dark: #{color.mix(black, $red, 15%)};
  --c-danger-details-bg: #{color.mix(white, $red, 78%)};
  --c-danger-title: #{$red};
  --c-danger-text: #{color.mix(black, $red, 45%)};
  --c-danger-text-accent: #{color.mix(black, $red, 25%)};
  --c-danger-text-light: #{color.mix(black, $red, 20%)};
  --c-danger-text-quote: #{color.mix(black, $red, 18%)};
  --c-details-bg: #eee;
  --code-bg-color: #282c34;
  --font-family: var(--two-font-family);
  --font-family-mono: var(--two-font-family-mono);
  --navbar-height: 3.6rem;
  --sidebar-width: 20rem;
  --content-width: 860px;
  --external-link-icon-color: transparent;
  --nprogress-color: #{$green};
}
