$black = #333;
$grey = #eee;
$gray = $grey;
$white = #fff;

$red = rgb(255, 64, 64);
$orange = rgb(255, 128, 0);
$blue = rgb(0, 200, 255);
$green = rgb(0, 191, 168);
$purple = rgb(171, 130, 255);
$yellow = rgb(255, 244, 95);

//fonts
$fontFamily = "proxima-nova", arial, sans-serif;
$codeFamily = "anonymous-pro", monospace;

// colors
$accentColor = $orange;
$textColor = #333;
$sidebarText = #555;
$codeColor = rgb(124,124,124);
$borderColor = #eaecef;
$codeBgColor = #282c34;
$arrowBgColor = #ccc;
$badgeTipColor = $purplebg;
$badgeWarningColor = darken(#ffe564, 35%);
$badgeErrorColor = #DA5961;

// layout
$navbarHeight = 3.6rem;
$sidebarWidth = 20rem;
$contentWidth = 860px;
$homePageWidth = 960px;

// responsive breakpoints
$MQNarrow = 959px;
$MQMobile = 719px;
$MQMobileNarrow = 419px;
$nprogressColor = $green
