# CODEOWNERS — all files require review from the project maintainer.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @jonobr1