<!doctype html>
<html>
  <head>
    <title>Two.js: Angular.js Integration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height">
    <link rel="image_src" href="../images/logo.gif" />
    <link rel="shortcut icon" type="image/gif" href="../images/favicon.gif">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="../third-party/two.js"></script>
    <script src="../third-party/url.js"></script>
    <script type="text/javascript" src="//use.typekit.net/edp1hux.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" type="text/css" href="../styles/performance.css">
  </head>
  <body ng-app>
    <div id="content">
      <div id="stage"></div>
      <ul ng-controller="Controls" id="controls">
        <li>
          <ul class="select">
            <li class="title centered">
              <span>x</span>: <input type="range" ng-model="shape.translation.x" min="{{ left }}" max="{{ right }}">
            </li>
          </ul>
        </li>
        <li>
          <ul class="select">
            <li class="title centered">
              <span>y</span>: <input type="range" ng-model="shape.translation.y" min="{{ top }}" max="{{ bottom }}">
            </li>
          </ul>
        </li>
        <li>
          <ul class="select">
            <li class="title centered">
              <span>rotation</span>: <input type="range" ng-model="shape.rotation" min="0" max="6.28" step="0.01">
            </li>
          </ul>
        </li>
        <li>
          <ul class="select">
            <li class="title centered">
              <span>scale</span>: <input type="range" ng-model="shape.scale" min="0" max="2" step="0.01">
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="scripts">
      <script>

        var Controls = function($scope) {

          var type = /(canvas|webgl)/.test(url.type) ? url.type : 'svg';
          var two = new Two({
              type: Two.Types[type],
              fullscreen: true,
              autostart: true
            })
            .bind('resize', function() {
              $scope.left = 0;
              $scope.right = this.width;
              $scope.top = 0;
              $scope.bottom = this.height;
            })
            .appendTo(document.querySelector('#stage'));

          var rect = two.makeRectangle(0, 0, 250, 250);
          rect.noStroke().fill = '#FF8000';

          // Initialize $scope variables
          $scope.shape = rect;

          two.trigger('resize');
          $scope.shape.translation.set(two.width / 2, two.height / 2);

        };

      </script>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40550435-1', 'github.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
