* {
  margin: 0;
  padding: 0; }

body {
  font-family: "proxima-nova", helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  word-spacing: 0.1875em;
  color: #555555;
  padding: 25px;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova", helvetica, sans-serif;
  vertical-align: top;
  color: #777777; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }
  @media screen and (max-width: 400px), all and (max-device-width: 640px) {
    h2 {
      text-align: center; } }

code {
  font-family: "Ubuntu Mono", monospace;
  color: #666666; }

p {
  max-width: 580px; }
  @media screen and (device-aspect-ratio: 2 / 3), screen and (device-aspect-ratio: 40 / 71) {
    p {
      max-width: 100%; } }

p + p {
  margin-top: 1.5em; }

a {
  text-decoration: none; }
  a:link {
    color: #00bfa8;
    border-bottom: 0.125em solid #72dbcf; }
  a:visited {
    color: #ff8000;
    border-bottom: 0.125em solid #ffa64c; }
  a:hover, a:active {
    color: #ff4040;
    border-bottom: 0.125em solid #ff8c8c; }

ul li:not(:first-child), ol li:not(:first-child) {
  margin-top: 1.5em; }

#content {
  padding: 25px 25px 50px 25px;
  background: white; }

div.center {
  text-align: center; }

div.horizon {
  height: 0;
  margin: 1.5em 0;
  border-bottom: 0.125em solid #eeeeee; }

#toc {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-top: -8px;
  list-style: none;
  clear: both;
  font-size: 1.125em; }
  @media all and (max-width: 400px), all and (max-device-width: 640px) {
    #toc {
      text-align: center; } }
  #toc li {
    margin-top: 0;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
    @media all and (min-width: 400px), all and (min-device-width: 640px) {
      #toc li {
        float: left; } }
    #toc li a {
      display: block;
      margin: 8px 8px 0;
      border-width: 0.15625em; }

#introduction {
  height: 80px;
  margin-bottom: 1.5em; }

@media all and (max-width: 400px), all and (max-device-width: 640px) {
  p.download {
    text-align: center; } }

::selection {
  background: #96ffc8;
  /* Safari */ }

::-moz-selection {
  background: #96ffc8;
  /* Firefox */ }
