/*
Syntax error: Invalid CSS after "...-screen-width),": expected media query (e.g. print, screen, print and screen), was "@media all and ..."
        on line 145 of ./main.scss

140:   margin-bottom: $line-height;
141: }
142: 
143: p.download {
144:   @media all and (max-width: $min-screen-width),
145:   @media all and (max-device-width: $min-device-width) {
146:     text-align: center;
147:   }
148: }
149: 
150: ::selection {

Backtrace:
./main.scss:145
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:1136:in `expected'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:1072:in `expected'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:1054:in `expr!'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:347:in `media_query_list'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:1053:in `expr!'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:337:in `media_directive'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:163:in `special_directive'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:135:in `directive'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:542:in `block_child'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:531:in `block_contents'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:523:in `block'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:517:in `ruleset'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:541:in `block_child'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:534:in `block_contents'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/scss/parser.rb:27:in `parse'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/engine.rb:342:in `_to_tree'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:299:in `block in watch'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `block in initialize_adapter'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/jonobrandel/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...-screen-width),\": expected media query (e.g. print, screen, print and screen), was \"@media all and ...\"\A         on line 145 of ./main.scss\A \A 140:   margin-bottom: $line-height;\A 141: }\A 142: \A 143: p.download {\A 144:   @media all and (max-width: $min-screen-width),\A 145:   @media all and (max-device-width: $min-device-width) {\A 146:     text-align: center;\A 147:   }\A 148: }\A 149: \A 150: ::selection {"; }
