@import 'bourbon/bourbon';
@import 'mirror';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'proxima-nova', helvetica, sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  word-spacing: em(3);
  color: $black;
  @media screen and (max-width: $min-screen-width) {
    background: $grey;
  }
  padding: 25px;
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima-nova', helvetica, sans-serif;
  vertical-align: top;
  color: tint($black, 20%);
}

h2 {
  font-size: $font-size * 2;
  margin-bottom: $line-height / 2;
  @media screen and (max-width: $min-screen-width),
  screen and (max-device-width: $min-device-width) {
    text-align: center;
  }
}

code {
  font-family: 'Ubuntu Mono', monospace;
  // color: $black;
}

p {
  max-width: 580px;
  @media screen and (device-aspect-ratio: 2/3),
  screen and (device-aspect-ratio: 40/71) {
    max-width: 100%;
  }
}

p + p {
  margin-top: $line-height;
}

a {
  text-decoration: none;
  &:link {
    color: $green;
    border-bottom: em(2) solid tint($green, 45%);
  }
  &:visited {
    color: $orange;
    border-bottom: em(2) solid tint($orange, 30%);
  }
  &:hover, &:active {
    color: $red;
    border-bottom: em(2) solid tint($red, 40%);
  }
}

ul, ol {
  @media screen and (max-width: $min-screen-width) {
    list-style: none;
  }
  li {
    &:not(:first-child) {
      margin-top: $line-height;
    }
  }
}

#content {
  padding: 25px 25px 50px 25px;
  background: $white;
}

div.center {
  text-align: center;
}

div.horizon {
  height: 0;
  margin: $line-height 0;
  border-bottom: em(2) solid $grey;
}

#toc {
  @include inline-block;
  margin-top: -8px;
  list-style: none;
  clear: both;
  font-size: em(18);
  @media screen and (max-width: $min-screen-width),
  screen and (max-device-width: $min-device-width) {
    text-align: center;
  }
  li {
    margin-top: 0;
    @include inline-block;
    float: left;
    @media screen and (max-width: $min-screen-width),
    screen and (max-device-width: $min-device-width) {
      float: none;
    }
    a {
      display: block;
      margin: 8px 8px 0;
      border-width: em(2.5);
    }
  }
}

#introduction {
  height: 80px;
  margin-bottom: $line-height;
}

p.download {
  @media screen and (max-width: $min-screen-width),
  screen and (max-device-width: $min-device-width) {
    text-align: center;
  }
}

.basic-usage {
  svg {
    border: 1px solid shade($grey, 10%);
  }
  .two-container {
    margin-bottom: $line-height / 2;
  }
}

.basic-usage + .basic-usage {
  margin-top: $line-height;
}

#draw-shapes > .CodeMirror {
  height: 504px;
}
#draw-group > .CodeMirror {
  height: 528px;
}

.examples {
  list-style: none;
  li {
    @include inline-block;
    position: relative;
    a {
      display: block;
      border: 0;
    }
    h3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.nota-bene {
  &:before {
    content: 'N.B:';
    font-weight: 700;
  }
  font-size: 75%;
  word-spacing: em(3 * .75);
  // font-style: italic;
}

::selection {
  background: tint($yellow, 25%); /* Safari */
}
::-moz-selection {
  background: tint($yellow, 25%); /* Firefox */
}