* {
  margin: 0;
  padding: 0; }

body {
  font-family: "proxima-nova", helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em; }

#controls {
  position: absolute;
  top: 0;
  list-style: none;
  width: 100%;
  overflow: hidden; }
  #controls > li {
    width: 25%;
    float: left;
    background: #eeeeee;
    margin-right: -1px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-x: hidden; }
    #controls > li:hover li, #controls > li.active li {
      display: list-item !important; }
    #controls > li li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      padding: 0.75em 0;
      text-indent: 0.75em;
      cursor: pointer; }
      #controls > li li:not(.title) {
        display: none;
        background: rgba(255, 255, 255, 0.75); }
        #controls > li li:not(.title).item {
          list-style: circle inside; }
          #controls > li li:not(.title).item.enabled {
            list-style: disc inside; }
        #controls > li li:not(.title):hover, #controls > li li:not(.title).enabled {
          background: rgba(255, 255, 255, 0); }
      #controls > li li#particle-count {
        cursor: default; }
  #controls ul {
    list-style: none; }
  #controls li {
    color: #555555; }
    #controls li li {
      height: 1.5em;
      overflow: hidden; }
    #controls li.title {
      font-weight: bold; }
  #controls .minus, #controls .plus {
    border-radius: 0.25em;
    font-family: "proxima-nova", helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 3em;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    cursor: pointer;
    outline: none; }
    #controls .minus:hover, #controls .plus:hover {
      background: rgba(0, 0, 0, 0.2); }
    #controls .minus.enabled, #controls .plus.enabled {
      background: rgba(0, 0, 0, 0.3); }
  #controls input {
    vertical-align: middle;
    margin-left: 0.5em; }
  #controls .plus {
    margin-right: 1em; }
  #controls .minus {
    margin-left: 1em; }

#stage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

@media (max-width: 900px) {
  #controls li {
    color: #000;
    font-size: 0.8em;
    line-height: 1.2em; }
  #controls input {
    width: 40px; }
  #controls .plus, #controls .minus {
    width: 1.2em; } }
