@import 'bourbon/bourbon';
@import 'prereq';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: $line-height;
}

#controls {

  position: absolute;
  top: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;

  & > li {
    width: 25%;
    float: left;
    background: $grey;
    margin-right: -1px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    &:hover, &.active {
      li {
        display: list-item !important;
      }
    }
    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      padding: $line-height / 2 0;
      text-indent: $line-height / 2;
      cursor: pointer;
      &:not(.title) {
        display: none;
        background: rgba(255, 255, 255, 0.75);
        &.item {
          list-style: circle inside;
          &.enabled {
            list-style: disc inside;
          }
        }
        &:hover, &.enabled {
          background: rgba(255, 255, 255, 0.0);
        }
      }
      &#particle-count {
        cursor: default;
      }
    }
  }

  ul {
    list-style: none;
  }

  li {
    color: $black;
    li {
      height: $line-height;
      overflow: hidden;
    }
    &.title {
      font-weight: bold;
    }
  }

  .minus, .plus {
    border-radius: $font-size / 4;
    font-family: $font-stack;
    font-size: $font-size;
    line-height: $line-height;
    width: $line-height * 2;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    cursor: pointer;
    outline: none;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    &.enabled {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  input {
    vertical-align: middle;
    margin-left: $font-size / 2;
  }

  .plus {
    margin-right: $font-size;
  }
  .minus {
    margin-left: $font-size;
  }

}

#stage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Mobile design
@media (max-width: 900px) {
  $scale: 0.8;
  #controls {
    li {
      color: #000;
      font-size: $font-size * $scale;
      line-height: $line-height * $scale;
    }
    input {
      width: 40px;
    }
    .plus, .minus {
      width: $line-height * $scale;
    }
  }
}