name: Lint
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0
    - name: Install modules
      run: npm install
    - name: Run ESLint
      run: npm run lint
